body{
    background: linear-gradient(45deg, lightcoral, lightgreen);

    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    backdrop-filter: blur(5px);
}

h1{
    color: whitesmoke;
    position: absolute;
    top: 500px;
    left: 650px;
}
p{
    color: whitesmoke;
}

img{
    width: 500px;
    height: 400px;
    position: absolute;
    left: 500px;
    top: 90px;
}
p{
    color: whitesmoke;
    position: absolute;
    top: 550px;
    left: 670px;
}

#prev{

    border: none;
    position: absolute;
    top: 600px;
    left: 625px;
}
#play{
    
    border: none;
    position: absolute;
    top: 600px;
    left: 700px;
}
#next{
    
    border: none;
    position: absolute;
    top: 600px;
    left: 770px;
}
.prev{
    
    height: 5vh;
}
#prev:active,#play:active,#next:active{
    background-color: red;
}